@font-face {
  font-family: 'Montserrat';
  src:url('assets/font/Montserrat-Regular.ttf');
}
@font-face {
  src: url('./assets/font/BrushScript-Italic.ttf');
  font-family: 'BrushScript';
}
body {
  font-family: 'Montserrat', sans-serif;
  /* background: #3f51b536;
  background: linear-gradient(45deg,#3f51b536,#494f7185); */
}
.navbar-brand img {
  width: 25px;
  height: auto;
}
.jumbotron {
  background: url('./assets/img/hannah-morgan-ycVFts5Ma4s-unsplash.jpg');
  background-size: cover;
  background-position:center center;
}
#cover h1 {
  font-family: "BrushScript", sans-serif;
  font-size: 5rem;
}
#cover h1, #cover p {
  color:cornsilk;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}
#cover {
  box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}
.form-contact-wrapper{
  background-color: transparent;
}

section {
  padding-top: 68px;
}
.jumbotron h1 {
  margin-top: 80px;
}

.tshd {
  color:cornsilk;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}
#portfolios .card {
  /* background-color: transparent; */
  /* border:0px; */
  box-shadow: 10px 5px 5px #3f51b536;
  min-height: 410px;
}
#portfolios .card:hover {
  opacity: 0.4;
  cursor: pointer;
}
.section-title {
  text-align: center;
  padding-bottom: 40px;
}
.section-title h1 {
  color:navy;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}
 hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}
footer {
  background-color: burlywood;
  height: 78px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
