@font-face {
  src: url('../assets/font/GreatVibes-Regular.ttf');
  font-family: "GreatVibes";
}
body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
div#main-content {
    position: absolute;
    top: 10%;
    display: block;
    color: #fff;
}
h1 {
  font-family: "GreatVibes";
  font-size: 4rem;
  font-weight: 900;
}

img#profile-picture {
    border-radius: 50%;
    border: 1px solid #ddd;
    opacity: 0.8;
}
.image-caption {
      font-family: cursive;
}

.purple {
  background: #ad60ce;
}

.yellow {
    background: #fffa37;
    color: #000;
}

.blue {
    background: #64ddbb;
    color: navy;
}
.fb {
  background: #3b5998;
}
.twitter {
  background: #00aced;
}
.red {
    background: #dd4b39;
}
.green {
    background: #27ae60;
}
.letter {
    padding: 7px;
    border-radius: 50%;
    font-weight: 700;
}
.and {
  font-family: "GreatVibes";
  font-size: 3rem;
}

#photosCarousel img {
  border-radius: 8px;
}
