@font-face {
    src : url('../assets/font/Courgette-Regular.ttf');
    font-family: 'Courgette';
}
body {
  max-height: 100vh;
}
#title-header {
  font-family: 'Courgette';
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}
th {
  text-align: center;

}
hr {

  border-width: 2px;
  border-color: #ddd;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 22px rgba(0,0,0,0.1);
}

/* div.dataTables_wrapper div.dataTables_filter {
    display: flex;
    text-align: left;
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 400px;
} */
 div#books_filter input {
   width: 0.01px;
   height: 0.01px;
   padding: 0px;
   margin: 0px;
 }
 #booklist {
   max-height: 450px;
   overflow-y: scroll;
 }
 .nav-item:hover {
   cursor:pointer;
   color: grey;
 }
 .book-title:hover {
   cursor: pointer;
   color: grey;
 }
 #cover {
   overflow-x: scroll;
   height: 360px;
   background: aliceblue;
 }
 img.cover{
   margin-left: 5px;
   margin-right: 5px;
   border: 0.5px solid black;
   box-shadow: 0px 1px 3px rgba(0,0,0,0.4),
                0px 1px 7px rgba(0,0,0,0.1),
                0px 1px 12px rgba(0,0,0,0.1);
  transform-style: preserve-3d;
    transform: perspective(7cm) rotateX(-15deg) rotateY(15deg);
 }
 .cover.active {
   width: 160px;
   border-bottom: 1px solid grey;
   box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 22px rgba(0,0,0,0.1);
  transform-style: preserve-3d;
    transform: perspective(0) rotateX(0) rotateY(0);
 }

  table {
    font-size: 0.9rem;
  }

  details {
  font: 16px "Open Sans", "Arial", sans-serif;
  width: 620px;
}
