body {
  background-color: black;
  color: white;
}
.color {
  height: 96px;
  border: 1px solid white;
}
.color-button {
  color:white;
  background-color: black;
  padding: 4px;
  border-radius: 2px;
  font-size: smaller;
}
